*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.54%;
  padding: 1rem; }

body {
  box-sizing: border-box; }

@keyframes logoAppear {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  80% {
    opacity: .8; }
  100% {
    opacity: 1; } }

.header {
  height: 95vh;
  width: 100%;
  background-image: linear-gradient(to right, rgba(38, 34, 35, 0.95), rgba(33, 36, 38, 0.95)), url(assets/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: logoAppear 5s; }
