
.btn-text{

    font-size: 1.6rem;
    font-family: $primary-text-font;
    color: $primary-header-text-color; 
    background-color: rgba(#000000, .4);
    cursor: pointer;
    
&:link,
&:visited{
            color: $primary-header-text-color;
            display: inline-block;
            text-decoration: none;
            border-bottom: 1px solid #eee;
            padding: 3px;
            transition: all .2s;
        }

        &:hover{
            background-color: black;
            opacity: .8;
            color: #eee;
            box-shadow: $standard-box-shadow;
        }

        &:active{
            box-shadow: 0 .5rem 1rem rgba(black, .15);
        }
    }