
.btn-text{

    font-size: 1.6rem;
    font-family: $primary-text-font;
    color: lightgrey;
    background-color: rgba(#000000, .4);
    
&:link,
&:visited{
            color: lightgrey;
            display: inline-block;
            text-decoration: none;
            border-bottom: 1px solid black;
            padding: 3px;
            transition: all .2s;
        }

        &:hover{
            background-color: black;
            opacity: .8;
            color: $primary-header-text-color;
            box-shadow: $standard-box-shadow;
            transform: translateY(-2px);
        }

        &:active{
            box-shadow: 0 .5rem 1rem rgba(black, .15);
            transform: translateY(0);
        }
    }