.navigation{
    height: 6rem;
    width: 95vw;
    z-index: 1000;
    margin: 0 2rem;
    padding: 1rem 0;
    border-bottom: 1px solid $primary-header-text-color;
    animation: logoAppear 5s ease-in;
    opacity: .9;

    &__list{
        list-style: none;
        float: right;
        padding: 0 3rem;
        font-family: $primary-text-font;
        font-weight: 100;
    }

    &__item{
        color: white;
        display: inline-block;
        letter-spacing: .4rem;
        
    }

    &__link{
        
        &:link,
        &:visited{
        display: inline-block;
        font-size: 1.8rem;
        font-weight: 300;
        padding: 1rem 2rem;
        color: $primary-header-text-color;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
        background-size: 250%;
        transition: all, .4s;
        }

        &:hover,
        &:active{
            background-position: 100%;
            color: black;
            transform: translateX(1rem);
            opacity: 0.8;
        }
    }
}
